  body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: o;
}

.main {

}
.Time12 {
   
}

.Time11 {
 
}
.Time10 {

}
.Time9 {

}
.Time8 {

}
.Time7 {

}
.Time6 {

}
.Time5 {

}
.Time4 {

}
.Time3 {

}
.Time2 {

}
.Time1 {

}

Fueled by temporal energy
